__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.git/
.gitignore

.vscode/
.idea/

*.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/

*.log

.env
.env.*

.DS_Store

Thumbs.db

README.md

requirements-full.txt